@font-face {
    font-family: sketchzone;
    src: url('Sketchzone.otf') format('truetype');
}

:root{
    --font: "sketchzone", serif;
}
#titulo{
    text-align: center;
    font-size: 28px;
    font-family:  var(--font);
    color:#0C2831;

}


body{
    background-color:#A0C4E2;
    text-align: center;
    align-items: center;
    overflow: hidden;
}