@font-face {
    font-family: sketchzone;
    src: url('Sketchzone.otf') format('truetype');
}

:root{
    --font: "sketchzone", serif;
}
#titulo{
    text-align: center;
    font-size: 28px;
    font-family:  var(--font);
    color:rgba(126, 40, 0, 0.925);

}


body{
    background-color:rgba(160, 98, 57, 0.925);
    text-align: center;
    align-items: center;
    overflow: hidden;
}